body {
    background-color: #0D1C42;
    color: #ffffff;
    flex-direction: column;
    display: flex;
    margin: 0;
}

.induk {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    background-color: transparent;
    padding: 0;
    font-family: 'geoformBOLD'
}

.logo-nav {
    color: #FCF1D0;
    font-size: 25px;
    font-weight: bold;
}

.navigation-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 20px 100px;
    background-color: #22396F;
    border: 2px solid #0D1C42;
    border-radius: 6px;
    z-index: 99;
    gap: 20px;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.navigation-menu a {
    color: #FCF1D0;
    text-decoration: none;
    font-size: 16px;
}

.navigation-menu li:not(:last-child) {
    border-bottom: 2px solid #FCF1D0;
    padding-bottom: 10px;
    width: 100%;
}

.navigation-menu li {
    text-align: center;
    width: 100%;
}

.navigation-menu.active {
    display: flex;
}

.hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #FCF1D0;
    transition: 0.3s;
}

.webpage-heading {
    width: 100%;
    height: 97vh;
    background-color: #010736;
    color: #FCF1D0;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    font-family: 'geoformHEA';
    font-size: 35px;
    margin: 0;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    min-width: 95vh;
    padding: 20px 20px;
}

.webpage-heading img {
    z-index: 1;
    max-width: 100%;
    max-height: 400px;
    height: auto;
}

.webpage-heading h1 {
    justify-content: center;
    margin: 0;
}

.heading-description {
    font-family: 'geoformBOLD';
    color: #ffffff;
    text-align: left;
    display: grid;
    font-size: 15px;
    white-space: normal;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    max-width: 450px;
}

.webpage-body {
    width: 100%;
    height: 50vh;
    background-color: #22396F;
    color: #FCF1D0;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: block;
    flex-direction: column;
}

.navigasi-website-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    margin: 0;
}

.button-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 5px 5px 10px rgba(0.3, 0.3, 0.3, 0.3);
}

.button-style img {
    object-fit: contain;
    height: 100%;
    transition: filter 0.3s ease;
}

.button-style:hover img {
    filter: invert(93%);
}

.main-button {
    width: 120px;
    height: 120px;
    background-color: #0D1C42;
    border: 1px solid #FCF1D0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-button :hover {
    transform: translateY(-3px);
}

.main-button a:hover img {
    background-color: #FCF1D0;
    transform: translateY(-3px);
    filter: invert(93%) sepia(16%) saturate(678%) hue-rotate(320deg) brightness(103%) contrast(98%);
}

.webpage-footer {
    width: 100%;
    height: 50vh;
    background-color: #FCF1D0;
    color: #22396F;
    box-sizing: border-box;
    padding: 30px 35px;
}

@media screen and (max-width: 768px) {
    .induk {
        height: auto;
        flex-direction: column;
    }

    .webpage-heading {
        height: auto;
        min-height: 100vh;
        min-width: 100%;
        padding: 80px 20px 40px 20px;
        font-size: 26px;
    }

    .webpage-heading img {
        max-height: 250px;
        margin-bottom: 10px;
    }

    .webpage-heading h1.user-name {
        font-size: 26px;
        line-height: 1.2;
    }

    .heading-description {
        text-align: center;
        font-size: 14px;
        max-width: 90%;
        line-height: 1.5;
    }

    .webpage-body {
        height: auto;
        padding: 40px 20px;
    }

    .navigasi-website-2 {
        gap: 15px;
    }

    .main-button {
        width: 100px;
        height: 100px;
    }

    .navigation-menu {
        width: calc(100vw - 40px);
        padding: 20px 40px;
        box-sizing: border-box;
    }

    .webpage-footer {
        height: auto;
        padding: 40px 20px;
    }
}



@font-face {
    src: url(fonts/LTInternet-Bold.ttf) format('truetype');
    font-family: 'Internet';
    font-weight: Normal;
}

@font-face {
    src: url(fonts/LTInternet-Regular.ttf) format('truetype');
    font-family: 'InternetThin';
    font-weight: Normal;
}

@font-face {
    src: url(fonts/MPF\ DOTIMPACT.ttf) format('truetype');
    font-family: 'dotimpact';
    font-weight: Normal;
}

@font-face {
    src: url(fonts/Pixel\ Digivolve.otf) format('truetype');
    font-family: 'digivolve';
    font-weight: Normal;
}

@font-face {
    src: url(fonts/Geoform-ExtraBold.otf) format('opentype');
    font-family: 'geoform';
    font-weight: Normal;
}

@font-face {
    src: url(fonts/Geoform-Medium.otf) format('opentype');
    font-family: 'geoformMED';
    font-weight: Normal;
}

@font-face {
    src: url(fonts/Geoform-Heavy.otf) format('opentype');
    font-family: 'geoformHEA';
    font-weight: Normal;
}

@font-face {
    src: url(fonts/Geoform-Bold.otf) format('opentype');
    font-family: 'geoformBOLD';
    font-weight: Normal;
}