<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
    <div class="container-heading">
            <h1>
                Heading
            </h1>
        </div>
    <div class="images-segment">
        <div class="images-place-main">
            <div class="images-line">
            <img src="images two/FOTO 1.jpg" class="images-place" alt="foto 1">
            <img src="images two/FOTO 2.jpg"
            class="images-place" alt="foto 1">
            <img src="images two/FOTO 3.jpg"
            class="images-place" alt="foto 1">
            </div>

            <div class="images-line">
            <img src="images two/FOTO 4.jpg" class="images-place" alt="foto 1">
            <img src="images two/FOTO 5.jpg" class="images-place"alt="foto 1">
            <img src="images two/FOTO 6.jpg" class="images-place"alt="foto 1">
            </div>

            <div class="images-line">
            <img src="images two/FOTO 7.jpg" class="images-place"alt="foto 1">
            <img src="images two/FOTO 8.jpg" class="images-place"alt="foto 1">
            <img src="images two/FOTO 9.jpg" class="images-place"alt="foto 1">
            </div>

            <img src="images two/FOTO 10.jpg" class="images-place"alt="foto 1">
        </div>
    </div>

        <div class="page-footer">
            <div class="page-footer">
            <div class="footer-text">
            <a href="/">Home</a>
            <a href="/porto" target="_blank">Portfolio</a>
            </div>

        <div class="website-footer-description">
                <p>
                    Website ini dibuat oleh
                    Muhammad Rafi Satrio
                    pada tanggal 10 Oktober 2026 <br>
                    Website ini ditujukan untuk menampilkan portfolio dari pembuat website ini.
                </p>
            </div>
        </div>
    </div>
</body>
</html>