<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <section class="user-welcome-page">
        <div class="container-heading">

            <div class="navigation-site">
                <a href="#"  class="nav-style">Home</a>
                <a href="#tab" class="nav-style">Tab</a>
                <a href="#footer" class="nav-style">Footer</a>
            </div>
        </div>

        <div class="user-welcome-profile">
            <img src="{{ url_for('static', filename='images/background image porto.jpg') }}" alt="Background">
        </div>

        <div class="main-first-container" id="tab">
        <div class="container-one">
            <a href="/profile" class="user-button">
            <img src="{{ url_for('static', filename='images/icon porto profile.png') }}" alt="Profil">
            </a>
            <h1>
                Profile
            </h1>
        </div>

        <div class="container-two">
            <a href="/kalkulator" target="_blank" rel="noopener noreferrer" class="user-button">
            <img src="{{ url_for('static', filename='images/icon porto projek done.png') }}" alt="Proyek">
            </a>
            <h1>
                Projects
            </h1>
        </div>
        </div>

        <div class="main-second-container">
        <div class="container-three">
            <a href="/porto" class="user-button">
            <img src="{{ url_for('static', filename='images/icon porto projek done.png') }}" alt="Proyek done">
            </a>
            <h1>
                Portofolio
            </h1>
        </div>

        <div class="container-four">
            <a href="/images" class="user-button">
            <img src="{{ url_for('static', filename='images/icon porto image.png') }}" alt="image">
            </a>
            <h1>
                Images
            </h1>
        </div>

        </div>
        <div class="page-footer"  id="footer">
            <div class="footer-text">
            <a href="#">Home</a>
            <a href="#tab">Tab</a>
            <a href="/porto" target="_blank" rel="noopener noreferrer">Portfolio</a>
            </div>

            <div class="website-footer-description">
                <p>
                    Website ini dibuat oleh
                    Muhammad Rafi Satrio
                    pada tanggal 10 Oktober 2026 <br>
                    Website ini ditujukan untuk menampilkan portfolio dari pembuat website ini.
                </p>
            </div>
        </div>
    </section>
</body>
</html>